@use '../util' as *;
// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100

.toggle {
  display: grid;
  grid-template-columns: 1fr 3rem;
  border: none;
  margin: 0;

  @include breakpoint-down(small) {
    margin-top: rem(30);
    padding: rem(20) 0 0 0;
    text-align: left;
    border-top: rem(1) solid var(--text-color2);
  }

  label {
    font-size: rem(14);
    font-weight: 700;
    color: var(--text-color2);

    &[for='dark'] {
      line-height: rem(24);
      margin-right: rem(13);
    }
  }

  &__wrapper {
    position: relative;
    height: rem(24);
  }

  input[type='radio'] {
    margin: 0 rem(-2) 0 rem(-2);
    opacity: 0;
    width: rem(24);
    height: rem(24);
    cursor: pointer;

    &:focus ~ .toggle__button {
      border: rem(0.015) solid var(--toggle-focus);
      height: rem(17.985);
    }
  }

  &__background {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: rem(12);
    background: var(--toggle-bg);
    pointer-events: none;
  }

  &__button {
    position: absolute;
    left: rem(3);
    top: rem(2.778);
    right: 100%;
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: var(--toggle-button);
    transition: all 150ms ease-in-out;
  }

  #light:checked ~ .toggle__button {
    left: calc(100% - rem(22.985));
    right: rem(3);
  }

  #system:checked ~ .toggle__button {
    left: 50%;
    right: auto;
    transform: translate(-50%);
  }
}
